@tailwind base;
@tailwind components;
@tailwind utilities;

#colophon [data-icon] {
  width: 5rem;
  height:5rem;
}

#colophon .astro-icon [data-icon] {
  width: 2rem;
  height:2rem;
}

.social-icons li.facebook a:hover svg {
  color: #3b5998;
}
.social-icons li.twitter a:hover svg {
  color: #55acee;
}
.social-icons li.linkedin a:hover svg {
  color: #0077b5;
}
.social-icons li.github a:hover svg {
  color: #4183c4;
}

#content blockquote {
  line-height: 2.5rem;
  @apply font-display;
  font-size: 1.5rem;
  letter-spacing: -0.025em;
  text-align: center;
  margin: 2rem;
  border:none;
  padding: 0;
}

.figure--center img {
  margin: 0 auto;
}