@tailwind base;
@tailwind components;
@tailwind utilities;

.social-icons li.facebook a:hover svg {
  color: #3b5998;
}
.social-icons li.twitter a:hover svg {
  color: #55acee;
}
.social-icons li.linkedin a:hover svg {
  color: #0077b5;
}
.social-icons li.github a:hover svg {
  color: #4183c4;
}