---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Section from "@/components/layout/Section.astro";
import Container from "@/components/layout/Container.astro";
import PageHeader from "@/components/layout/PageHeader.astro";
import ExperienceItem from "@/components/ExperienceItem.astro";
import { getCollection } from "astro:content";

const experienceItems = await getCollection("experience");
const sortedItems = experienceItems.sort((a, b) => parseInt(a.id.slice(0, 2)) - parseInt(b.id.slice(0, 2)));
---

<BaseLayout title="Experience" description="A timeline of my professional growth and key achievements">
  <PageHeader
    badgeTitle="Experience"
    title="Professional Journey"
    description="A timeline of my professional growth and key achievements"
  />
  <Section id="experience" class="relative pt-4 pb-16 px-6">
    <Container class="max-w-screen-md mx-auto">
      <div class="relative">
        {sortedItems.map(({ data }) => <ExperienceItem {...data} />)}
      </div>
    </Container>
  </Section>
</BaseLayout>
