---
import { getCollection } from "astro:content"
import EducationItem from "./EducationItem.astro"
const educationItems = await getCollection("education")
---

<div class="education">
  <h3 class="education-title">Education</h3>
  <ul class="education-items" role="list">
    {educationItems.map(item => <EducationItem item={item} />)}
  </ul>
</div>

<style>
  .education {
    padding-top: 1.25rem;
  }
</style>
