---
import { getCollection } from "astro:content"
import ExperienceItem from "./ExperienceItem.astro"
const experienceItems = await getCollection("experience")
---

<div class="experience">
  <h3 class="experience-title">Experience</h3>
  <ul class="experience-items" role="list">
    {experienceItems.map(item => <ExperienceItem item={item} />)}
  </ul>
</div>

<style>
  .experience {
    padding-top: 1.25rem;
  }
</style>
