---
import { Icon } from "astro-icon/components"
---

<footer id="colophon" role="contentinfo">
  <p class="copyright">
    © {new Date().getFullYear()}
    {` `}
    <a href="/" aria-label={`Niklas Dahlqvist`}>Niklas Dahlqvist</a>
  </p>
  <p class="astro-credit">
    <a aria-label={`Built with Astro`} class="astro-icon" href="https://www.astro.build" target="_blank">
      <Icon name="simple-icons:astro" />
    </a>
  </p>
</footer>

<style>
  #colophon {
    background: rgb(17, 24, 39);
    color: white;
    display: grid;
    grid-template-columns: auto minmax(auto, 48rem) minmax(auto, 48rem) auto;
    padding: 0.75rem;

    .astro-icon [data-icon] {
      width: 2rem;
      height: 2rem;
    }
  }

  .copyright {
    grid-column: 2;
  }

  .astro-credit {
    grid-column: 3;
    justify-self: flex-end;
  }
</style>
