<div class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
</div>
<div class="hamburger-menu-close hidden">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        aria-hidden="true"
    >
        <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18L18 6M6 6l12 12"></path>
    </svg>
</div>

  <style>
    .hamburger-menu {
        display: none;
        &:hover {
            cursor: pointer;
        }

        span {
            background-color: rgb(75 85 99);
            display: block;
            width: 1.25rem;
            height: .125rem;
            margin-block: .5rem;
        }

        span:first-child {
            margin-block: 0 .5rem
        }

        span:not(:first-child) {
            width: 2rem;
        }

        span:last-child {
            margin-block: .5rem 0;
        }
    }

    .hamburger-menu-close {
        z-index: 50;
        width: 1.5rem;
        height: 1.5rem;
        position: fixed;
        right: 1.5rem;
        top:1.5rem;

        &:hover {
            cursor: pointer;
        }

    }

    @media (max-width: 1023px) {
        .hamburger-menu {
            display: block;
        }
    }

    .hidden {
        display: none;
    }
  </style>