---
import Navigation from "./Navigation.astro"
---

<header
  id="masthead"
  class="site-header border-t-4 border-t-regal-blue border-b border-b-gray-300"
  role="banner"
>
  <nav
    class="header-navigation container mx-auto flex items-center justify-between flex-wrap p-3 relative"
    role="navigation"
  >
    <div class="flex items-center flex-shrink-0 text-black">
      <h1 class="text-2xl font-display">
        <a href="/" aria-label={`Niklas Dahlqvist`}>Niklas Dahlqvist</a>
      </h1>
    </div>
    <Navigation />
  </nav>
</header>
