---
export interface Props {
  title: string
  intro: string
  fancyTitle?: boolean
}

const { title, intro, fancyTitle = false } = Astro.props
---

<section class="page-header">
  {
    fancyTitle ? (
      <>
        <h1>{title}</h1>
        <blockquote>{intro}</blockquote>
      </>
    ) : (
      <>
        <h3>{title}</h3>
        <p>{intro}</p>
      </>
    )
  }
</section>

<style>
  .page-header {
    padding-block: 3.5rem 1.5rem;
    text-align: center;

    h1 {
      font-size: var(--text-size-4xl);
      font-weight: 700;
    }

    h3 {
      color: var(--clr-regal-blue);
      font-family: var(--ff-body);
      font-size: var(--text-size-sm);
      font-weight: 600;
      text-transform: uppercase;
    }

    blockquote {
      font-family: var(--ff-display);
      font-style: italic;
      line-height: calc(var(--text-size-xl) + 1rem);
      font-size: var(--text-size-xl);
      letter-spacing: -0.025em;
      margin-block: 2rem;
    }

    p {
      font-family: var(--ff-display);
      line-height: 2.5rem;
      font-size: 1.5rem;
      letter-spacing: -0.025em;
      margin-block: 2rem;
    }
  }
</style>
