---
import { Icon } from "astro-icon/components"

export interface Props {
  demoUrl?: string
  gitUrl?: string
}
const { demoUrl, gitUrl } = Astro.props
---

<span
  class="text-gray-300 inline-flex items-center ml-auto leading-none text-sm mr-3 h-8 w-8"
>
  {
    gitUrl ? (
      <a
        href={gitUrl}
        class="text-black hover:text-regal-blue active:text-regal-blue"
        target="_blank"
        aria-label={`Link to the projects GitHub Repository`}
      >
        <Icon name="fa:github-square" class={"fill-current h-8 w-8"} />
      </a>
    ) : (
      <Icon name="fa:github-square" class={"link-none fill-current h-8 w-8"} />
    )
  }
</span>
<span
  class="text-gray-300 inline-flex items-center leading-none text-sm h-8 w-8"
>
  {
    demoUrl ? (
      <a
        href={demoUrl}
        class="text-black hover:text-regal-blue active:text-regal-blue"
        target="_blank"
        aria-label={`Link to the project Demo`}
      >
        <Icon name="fa:external-link-square" class={"fill-current h-8 w-8"} />
      </a>
    ) : (
      <Icon
        name="fa:external-link-square"
        class={"link-none fill-current h-8 w-8"}
      />
    )
  }
</span>
