---
import { Icon } from "astro-icon/components"

export interface Props {
  demoUrl?: string
  gitUrl?: string
}
const { demoUrl, gitUrl } = Astro.props
---

<div>
  <span>
    {
      gitUrl ? (
        <a href={gitUrl} target="_blank" aria-label={`Link to the projects GitHub Repository`}>
          <Icon name="fa:github-square" class={"fill-current h-8 w-8"} />
        </a>
      ) : (
        <Icon name="fa:github-square" class="link-none" />
      )
    }
  </span>
  <span>
    {
      demoUrl ? (
        <a href={demoUrl} target="_blank" aria-label={`Link to the project Demo`}>
          <Icon name="fa:external-link-square" />
        </a>
      ) : (
        <Icon name="fa:external-link-square" class="link-none" />
      )
    }
  </span>
</div>

<style>
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    span {
      display: inline-flex;
      justify-self: center;
      color: #222;
    }

    svg {
      width: 2rem;
      height: 2rem;
      fill: currentColor;

      &.link-none {
        color: rgb(209 213 219);
      }
    }

    a:hover {
      color: var(--clr-regal-blue);
    }
  }
</style>
