---
import { Icon } from "astro-icon/components"

export interface Props {
  githuburl?: string
  demourl?: string
}

const { githuburl, demourl } = Astro.props
---

<ul class="project-info" role="list">
  {
    githuburl && (
      <li>
        <a href={githuburl} target="_blank" aria-label={`Link to the projects GitHub Repository`}>
          <Icon name="fa:github-square" />
        </a>
      </li>
    )
  }
  {
    demourl && (
      <li>
        <a href={demourl} target="_blank" aria-label={`Link to the project Demo`}>
          <Icon name="fa:external-link-square" />
        </a>
      </li>
    )
  }
</ul>

<style>
  .project-info {
    display: flex;
    padding-block: 1rem;
    gap: 0.5rem;

    > li {
      margin: 0;
      padding: 0;
    }

    svg {
      fill: currentColor;
      width: 2rem;
      height: 2rem;
    }

    a:hover {
      color: var(--clr-regal-blue);
    }
  }
</style>
