---
import SocialLinks from "./SocialLinks.astro"
export interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<section class="site-info">
  <ul role="list">
    <li>
      {title}
    </li>
    <li>
      {description}
    </li>
  </ul>
  <SocialLinks />
</section>

<style>
  .site-info {
    background: rgb(243 244 246);
    border-top: 1px solid rgb(209 213 219);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;

    ul {
      text-align: center;
      margin-inline: auto;
    }

    ul:first-child {
      padding-bottom: 1.5rem;

      li {
        padding-bottom: 0.75rem;
        text-transform: uppercase;
      }

      li:first-child {
        text-transform: initial;
        font-family: var(--ff-display);
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 2;
      }
    }
  }
</style>
