---
import { Icon } from "astro-icon";
import Social from "./Social.astro";
---

<ul class="social-icons flex items-center justify-center space-x-3">
    <li class="h-20 w-20 facebook">
        <Social platform="facebook" username="ndahlqvist">
            <Icon pack="fa" name="facebook-square" />
        </Social>
    </li>
    <li class="h-20 w-20 twitter">
        <Social platform="twitter" username="DalkMania">
            <Icon pack="fa" name="twitter-square" />
        </Social>
    </li>
    <li class="h-20 w-20 github">
        <Social platform="github" username="DalkMania">
            <Icon pack="fa" name="github-square" />
        </Social>
    </li>
    <li class="h-20 w-20 linkedin">
        <Social platform="linkedin" username="in/niklasdahlqvist">
            <Icon pack="fa" name="linkedin-square" />
        </Social>
    </li>
</ul>
