---
import { Icon } from "astro-icon/components"
import Social from "./Social.astro"
---

<ul class="social-icons flex items-center justify-center space-x-3">
  <li class="h-20 w-20 facebook">
    <Social platform="facebook" username="ndahlqvist">
      <Icon name="fa:facebook-square" />
    </Social>
  </li>
  <li class="h-20 w-20 twitter hover:">
    <Social platform="twitter" username="DalkMania">
      <Icon name="fa:twitter-square" />
    </Social>
  </li>
  <li class="h-20 w-20 github">
    <Social platform="github" username="DalkMania">
      <Icon name="fa:github-square" />
    </Social>
  </li>
  <li class="h-20 w-20 linkedin">
    <Social platform="linkedin" username="in/niklasdahlqvist">
      <Icon name="fa:linkedin-square" />
    </Social>
  </li>
</ul>
